<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Krystal's Superior Spa Experience</title>
</head>
<body>
<h1 th:text="'Welcome ' + ${username}"></h1>

<a th:href="@{/}">Click here to enter information for your Spa Day experience.</a>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email Address</th>
    </tr>
    </thead>
    <tr th:each="user:${userMap}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${event.email}"></td>
    </tr>
</table>


</body>
</html>